/* Reset default padding and margin for all elements */
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    opacity: 1;
}

/* Cover section styles */
.cover {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width:100%; */
    height:70vh; /* Set a fixed height or adjust as needed */
    min-height: 50vh; /* Minimum height of 50% viewport height */
    background-image: linear-gradient(#0073e6 1%, rgba(4, 9, 30, 0.7)), url("/Images/background.jpg");
    background-size: cover;
    background-position: center;
}

#taglines {
    font-size: 50px;
    animation:fade-in 1.5s;
}


/* Navigation bar styles */
nav {
    background-color: #0073e6;
    width: 100%;
    height: 60px; /* Set a fixed height for the navigation bar */
    display: flex;
    align-items: center;
    justify-content: center;
}

nav img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

/* Main content styles */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    text-align: center;
     margin:30px;
   
 
    /* animation:typing 2s; */
}
h2 {
    font-size: 30px;
    text-align: center;
    margin:30px;
    color: #0073e6;
    animation:typing 5s; 
    white-space: nowrap;
    width:100%; 
    overflow:hidden;   
}

.contain{
    display:flex;
    justify-content: center;
    width:100%;    
}
/* Skip buttons styles */
.skip-buttons {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding: 10px 20px;
    width: 20vw;
    height: 50px;
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.skip-buttons i {
    margin-right: 10px; /* Adjust margin as needed */
}

.skip-buttons:hover {
    background-color: #005bb5;
}

.skip-buttons:active {
    box-shadow: 0 5px #666;
    transform: translateY(-4px);
}

/* Footer styles */
footer {
    text-align: center;
    padding: 10px;
    background-color: black;
    color: white;
}

/* Additional styles for specific elements */
#title {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.project {
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 24px;
    font-style: normal;
}

#button-containers {
    display: flex;
    justify-content:center; /* Evenly space items */
    gap:10vw;
 
}
#map{
height:80vh;

}
#map-container{
    display:flex;
    justify-content: center;
}


@keyframes fade-in{
    100%{
        opacity:100%;
    }
    0%{
        opacity: 0;
    }
}
@keyframes typing{
    from{width:0;}
}
